  <header>
    <nav>
      <a href="#">Gmail</a>
      <a href="#">Images</a>
    </nav>
  </header>
  <main>
  <form action="/home/search" method="post">
<div>
    <img src="google-logo.png" alt="Google Logo" class="logo">
</div>
<div>
    <input type="checkbox" name="web" id="ontheweb" checked value="1" />
</div>
    <div class="search-bar">
      <input type="text" name="composer" placeholder="Search composer/ARTIST">
 <input type="text" name="q" placeholder="Search song or score Title">
<label for="searchscores">
chercher scores
      <input type="radio" name="mysearch" value="scores" id="searchscores" />
</label>
<label for="searchpic">
chercher 1 image
      <input type="radio" name="mysearch" value="pic" id="searchpic" />
</label>
<label for="searchvideo">
chercher 1 video
      <input type="radio" name="mysearch" value="video" id="searchvideo" />
</label>
      <input type="submit" name="ok3" value="search" />
    </div>
  </form>
  </main>
  <footer>
    <p>Google offered in:</p>
    <a href="#">Français</a>
  </footer>

