<div id="<%= dom_id pic %>">
  <p>
    <strong>Title:</strong>
    <%= pic.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= pic.composer %>
  </p>

  <p>
    <strong>Pic:</strong>
    <img src="/uploads/<%= pic.pic %>" />
  </p>

</div>
