<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Look-Alike</title>
  <link rel="stylesheet" href="styles.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<style>

.allclips {
	height: 300px;
    width:100%;
	text-align: center;
	padding: 100px;
}
div.sub, iframe {
	width: 467px;
	height: 265px;
	margin: 0 auto;
}

</style>
  </head>

  <body>
    <%= yield %>
</body>
</html>

